.form-rounded {
    border-radius: 1rem;
}
/*! CSS Used from: Embedded */
.gsfi {
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}
.jhp input[type="submit"] {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}
.jhp input[type="submit"] {
    height: 36px;
    line-height: 27px;
}
.jhp input[type="submit"]:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}
.jhp input[type="submit"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}
/*! CSS Used from: Embedded */
a {
    font-family: arial, sans-serif;
}
a {
    color: #1a0dab;
    text-decoration: none;
}
a:hover,
a:active {
    text-decoration: underline;
}
a:visited {
    color: #609;
}
ul,
li {
    margin: 0;
    padding: 0;
}
/*! CSS Used from: Embedded */
.z1asCe {
    display: inline-block;
    fill: currentColor;
    height: 24px;
    line-height: 24px;
    position: relative;
    width: 24px;
}
.z1asCe svg {
    display: block;
    height: 100%;
    width: 100%;
}
/*! CSS Used from: Embedded */
.A8SBwf {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
    width: 484px;
}
#searchform.big .A8SBwf {
    width: 584px;
}
.RNNXgb {
    background: #fff;
    display: flex;
    border-radius: 8px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
.RNNXgb:hover {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}
#searchform.big .RNNXgb {
    width: 582px;
}
.SDkEP {
    flex: 1;
    display: flex;
    padding: 5px 8px 0 14px;
}
.FPdoLc {
    padding-top: 18px;
    top: 53px;
    z-index: 0;
    position: absolute;
    width: 487px;
}
#searchform.big .FPdoLc {
    width: 571px;
}
.iblpc {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}
/*! CSS Used from: Embedded */
.hsuHs {
    margin: auto;
}
.wFncld {
    margin-top: 3px;
    color: #9AA0A6;
    height: 20px;
    width: 20px;
}
/*! CSS Used from: Embedded */
.gLFyf {
    background-color: transparent;
    border: none;
    margin: -37px 0 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    height: 34px;
    font-size: 16px;
}
.a4bIc {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}
.pR49Ae {
    color: transparent;
    flex: 100%;
    white-space: pre;
    height: 34px;
}
/*! CSS Used from: Embedded */
.dRYYxd {
    display: flex;
    flex: 0 0 auto;
    margin-top: -5px;
    align-items: stretch;
    flex-direction: row;
}
/*! CSS Used from: Embedded */
.hpuQDe {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}
.HPVvwb {
    background: url('//www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png') 0 0 no-repeat;
    height: 24px;
    width: 24px;
    background-size: 24px;
    vertical-align: middle;
}
/*! CSS Used from: Embedded */
.UUbT9 {
    position: relative;
    text-align: left;
    margin-top: -1px;
    z-index: 3;
    cursor: default;
    -webkit-user-select: none;
}
.aajZCb {
    background: #fff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0 0 4px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border: 0;
    border-radius: 0 0 24px 24px;
    box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);
    overflow: hidden;
}
.erkvQe {
    flex: auto;
    padding-bottom: 8px;
}
.RjPuVb {
    height: 1px;
    margin: 0 26px 0 0;
}
.xtSCL {
    border-top: 1px solid #e8eaed;
    margin: 0 20px 0 14px;
    padding-bottom: 4px;
}
/*! CSS Used from: Embedded */
#ynRric {
    display: none;
}
.ynRric {
    list-style-type: none;
    flex-direction: column;
    color: #80868B;
    font-family: arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.75px;
    margin: 0 20px 0 16px;
    padding: 8px 0;
    line-height: 16px;
}
/*! CSS Used from: Embedded */
#sbt {
    display: none;
}
.sbct {
    display: flex;
    align-items: center;
    min-width: 0;
    padding: 0;
}
.jKWzZXdEJWi__suggestions-inner-container {
    flex: auto;
    display: flex;
    margin: 0 20px 0 14px;
    align-items: center;
}
.sbtc {
    display: flex;
    flex: auto;
    flex-direction: column;
    min-width: 0;
    padding: 6px 0;
}
.sbic {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
    margin-right: 14px;
}
.sbl1 {
    display: flex;
    font-size: 16px;
    color: #212121;
    flex: auto;
    align-items: center;
    word-break: break-word;
    padding-right: 8px;
}
.sbl1 > span {
    flex: auto;
}
.sbab {
    display: flex;
    flex: 0 1 auto;
    align-self: stretch;
}
/*! CSS Used from: Embedded */
.tfB0Bf {
    height: 70px;
}
.tfB0Bf input[type="submit"] {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.tfB0Bf input[type="submit"]:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}
.tfB0Bf input[type="submit"]:focus {
    border: 1px solid #4d90fe;
    outline: none;
}
/*! CSS Used from: Embedded */
.JUypV {
    font-size: 8pt;
    margin-top: -16px;
    position: absolute;
    right: 16px;
}
/*! CSS Used from: Embedded */
a.duf3 {
    color: #70757a;
    float: right;
    font-style: italic;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    tap-highlight-color: rgba(0, 0, 0, 0);
}
a.aciXEb {
    padding: 0 5px;
}
