{% extends "base.html" %} {% block title %}Productify{% endblock %} {% block
head %} {{ super() }} {% endblock %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/home.css') }}"
/>
<body>
  {% block body %}
  <main class="container">
    <h1 class="text-center">Welcome To Productify</h1>
    <p></p>
    <form method="post">
      Enter Product name:
      <input
        type="text"
        class="form-control form-rounded w-50 mx-auto"
        name="item"
      />
      Enter number of results:
      <input
        type="text"
        class="form-control form-rounded w-50 mx-auto"
        name="num"
      />
      <button type="submit" value="Search" class="btn btn-primary">
        <input type="submit" value="Submit" />
      </button>
    </form>
  </main>
  {% endblock %}
</body>
